.python26:
    image: yarara/python-2.6.9:v1
    when: always
    script:
        - python setup.py clean build test

centos6:
    image: centos:6
    when: always
    script:
        - yum upgrade -y
        - yum groupinstall -y "Development tools"
        - yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-6.noarch.rpm
        - yum install -y python-devel openssl-devel openssl python-setuptools python-twisted python-unittest2
        - python setup.py clean build test

python27:
    image: python:2.7
    when: always
    script:
        - apt-get update -q -y
        - apt-get install -y swig libssl-dev python-dev openssl python-twisted python-setuptools
        - python setup.py clean build test

python35:
    image: python:3.5
    when: always
    script:
        - apt-get update -q -y
        - apt-get install -y swig libssl-dev python3-dev openssl python3-setuptools python3-twisted
        - python3 setup.py clean build test

python3:
    image: python:3
    when: always
    script:
        - apt-get update -q -y
        - apt-get install -y swig libssl-dev python3-dev openssl python3-setuptools python3-twisted
        - python3 setup.py clean build test

fedora-py2:
    image: fedora:30
    when: always
    script:
        - dnf install --refresh -y @development-tools fedora-packager rpmdevtools
        - dnf install -y swig python2-devel openssl-devel openssl python2-setuptools python2-twisted
        - python2 setup.py clean build test

fedora:
    image: fedora:30
    when: always
    script:
        - dnf install --refresh -y @development-tools fedora-packager rpmdevtools
        - dnf install -y swig python3-devel openssl-devel openssl python3-setuptools python3-twisted
        - python3 setup.py clean build test

fedora-rawhide:
    image: registry.fedoraproject.org/fedora:rawhide
    when: always
    script:
        - dnf install --refresh -y @development-tools fedora-packager rpmdevtools
        - dnf install -y swig python3-devel openssl-devel openssl python3-setuptools python3-twisted
        - python3 setup.py clean build test

opensuse:
    image: opensuse/tumbleweed
    when: always
    script:
        - zypper refresh
        - zypper install -y pattern:devel_rpm_build pattern:devel_C_C++ osc
        - zypper install -y swig python3-devel libopenssl-1_1-devel python3-service_identity python3-setuptools python3-Twisted
        - python3 setup.py clean build test
