image: python:2.7

test:
  script:
    - apt-get update -q -y
    - apt-get install -y swig libssl-dev libssl1.0.0
    - apt-get install -y python-setuptools
    - easy_install Twisted
    - python setup.py build
    - python setup.py test
