language: python

addons:
  apt:
    packages:
    - swig
    - libssl-dev
    - libssl1.0.0
    - python-setuptools

sudo: false

python:
  - 2.6
  - 2.7

install:
  - python setup.py install

script: python setup.py test
