include src/SWIG/*.i
include src/SWIG/*.h
include src/SWIG/*.def
recursive-include tests *.py *.pem *.der *.b64 README *.pgp *.dat *.p7* *.crt *.txt
recursive-include doc *
recursive-include contrib *
recursive-exclude .keys *
include INSTALL.rst
include README.rst
include CHANGES
include LICENCE
include src/SWIG/_m2crypto_wrap.c
include src/M2Crypto/m2crypto.py
