include SWIG/*.i
include SWIG/*.h
include SWIG/*.def
recursive-include tests *.py *.pem *.der *.b64 README *.pgp *.dat *.p7*
recursive-include doc
recursive-include demo
recursive-include contrib
include INSTALL
include CHANGES
include epydoc.conf
include LICENSE
include fedora-setup.sh
exclude M2Crypto/_m2crypto.py
